[2017-06-29 14:53] murali-reddy opened #2 "add support for log file to log the errors"
add support for log file to log the errors

add file in ~/.kube/shell/log

[2017-06-29 14:56] murali-reddy opened #3 "add bottom tool bar support"
tool bar need to have below options

- toggle inline help with dropped down list
- info on current kubeconfig context used, namespace
- vi/emacs mode
- exit

refer to saws/aws-shell for bottom toolbar reference

[2017-06-29 15:00] murali-reddy opened #4 "add config file support to configure various options"
add a rc file in ~/.kube/shell/.kubeshellrc

that can have various options

- visual theme
- inline help on/off
-  enable vi bindings

[2017-06-30 11:16] murali-reddy opened #5 "Integrate helm command as well for completio"

[2017-06-30 14:52] murali-reddy opened #6 "cover all resources for server side completion"
Close to 30 resources are already covered for server side completion, still there are some missing resource that need to be added in [completer](https://github.com/cloudnativelabs/kube-shell/blob/master/kubeshell/completer.py)

[2017-07-01 02:40] murali-reddy opened #7 "implement shortcuts (ls, rm, edit)"
ls service
ls pod
ls deployment
ls namespace
ls namespace/pod

rm pod
rm service
rm namespace/pod

There should be autosuggestion as well. for e.g. ls pod TAB shoud drop down the list of pods.

[2017-07-01 02:45] murali-reddy opened #8 "support minimal DSL to easily query resources"
Just enhance #7 so that small quiries can be run

ls pod where status="Terminating"
ls pod where age > 3d
ls pod sort by node

[2017-07-01 03:57] murali-reddy opened #9 "keep different data/cli.json per kubernetes version"
keep different cli.json for different version of kubernetes

cli-1.5.json
cli-1.6.json
cli-1.7.json

[2017-07-01 10:50] murali-reddy opened #10 "CI pipeline to pypi package, and cli.json files"
automate travis CI to build pypi packages and also generate cli json file from the go source code

[2017-07-01 12:30] murali-reddy opened #11 "add option to turn off auto suggestions"
Good to have option to turn-off suggestions. Still there are other reasons why one may use kube-shell.

[2017-07-01 18:05] bzub opened #13 "Better support for no context situation"
kube-shell works now with a kubeconfig that has one context and that has no context name.  I have problems still when I have no context set, in which case kubectl would apparently just use the only context available.

Int his example an error pops up as soon as I hit space after "deployment":
[code]

No context:
[code]

kubeconfig:
[code]

[2017-07-01 18:07] murali-reddy opened #14 "explore possibility of using python argparse to pass the parameters for kubectl"
Current custom parser in completer.py is not really decent piece of code. Explore if it can offloaded to Python's argparse.

[2017-07-02 03:17] murali-reddy opened #15 "implement help command and any other command line flags for kube-shell"
kube-shell>help

should bring help of the commands that can be run

also need command line flags.

kube-shell --help

[2017-07-02 03:25] murali-reddy opened #16 "use pygments token that look neat in light terminal profiles as well"
current set of pygments token used by [lexer](https://github.com/cloudnativelabs/kube-shell/blob/master/kubeshell/lexer.py) looks pretty is dark terminal profiles like solarized dark, molokai etc. but does look dull in light colored profiles.

figure  a set of tokens that look neat on both and dark terminal profiles.

[2017-07-02 05:26] murali-reddy opened #17 "Typing kubectl is redundent make it optional"
Make suggestions to work with or without first token bieng kubectl.

[2017-07-02 09:31] fhemberger commented on #3
Would be great to have a hokey to quickly switch clusters, users and namespaces

[2017-07-02 09:43] murali-reddy commented on #3
Thanks @fhemberger for the feedback. makes lot of sense. AFAIK, python prompt kit toolbar can not have drop down/up many so we will have to use function keys to toggle between the clusters/users/namespace. we will incorporate the feedback in best way possible.

[2017-07-02 14:01] humblec opened #18 ""kubectl" command not found error.."
[code]

Any thoughts why this happens?

[2017-07-02 14:13] murali-reddy commented on #18
Do you have kubectl avaialable on the host and placed in executable path? Kube-shell does not install kubectl.

[2017-07-02 14:19] humblec commented on #18
I have it, ```
[root@dhcp-0-191 ~]# kubectl version
Client Version: version.Info{Major:"1", Minor:"8+", GitVersion:"v1.8.0-alpha.1.34+a41e1c52ef5341-dirty", GitCommit:"a41e1c52ef5341a0bd9a9c7f622dba5764640ec6", GitTreeState:"dirty", BuildDate:"2017-06-23T15:35:06Z", GoVersion:"go1.8.1", Compiler:"gc", Platform:"linux/amd64"}
[code]

[2017-07-02 16:16] vogxn commented on #18
@humblec could you provide the output to the following

[code]

Our `subprocess(..)` call to kubectl will default to `/bin/sh` as the shell environment. Perhaps your paths need some adjustment

[2017-07-02 16:33] vogxn commented on #14
Ran into a bunch of troubles doing this. My initial idea was to read the command tree into a nested set of parsers created using argparse. However, argparse is not tolerant if parts of the command line don't adhere to the command tree it holds. It does a hard `os.exit()` which is problematic.

Going to switch back to a simple object tree representation. We will walk the tree and identify the exten

[2017-07-02 20:45] #3 closed

[2017-07-02 21:13] #13 closed

[2017-07-03 17:38] blakebarnett opened #19 "Import error"
After:

[code]

I get this when running it:

[code]

[2017-07-03 17:46] blakebarnett commented on #19
MacOS Sierra 10.12.5
Python 2.7 from homebrew

[2017-07-03 19:38] murali-reddy opened #20 "use F5 key to switch between the namespaces in the current cluster context"
F4 -> Switch between contexts
F5 -> Switch namespaces

[2017-07-03 21:51] #20 closed

[2017-07-04 05:23] murali-reddy commented on #19
@blakebarnett it seems there is prompt-toolkit already installed.

Requirement already satisfied: prompt-toolkit<1.1.0,>=1.0.0 in /usr/local/lib/python2.7/site-packages (from kube-shell)

 there seems to be problem with installed library. can you try "from prompt_toolkit.key_binding.defaults import load_key_bindings_for_prompt" in python interactive shell. If you see same problem please remove the

[2017-07-04 05:29] blakebarnett commented on #19
Ah, looks like prompt_toolkit was v1.0.8 and the latest is v1.0.14, looks like v1.0.8 doesn't have that defaults module. Guess the version dependency just needs a bump.

[2017-07-04 08:36] murali-reddy opened #21 "implement "validate" command to validate manifest againest specifc type schema"
Little farfetched idea for kube-shell.  Though doable with python jsonschema question is does it fit to context/themes/use-cases of kube-shell.

kube-shell> validate nginx-pod.yaml should throw out manifest errors if any.

[2017-07-04 09:23] murali-reddy opened #22 "use F6 to switch between users"
F4-> switch cluster
F5-> switch namespace
F6-> switch user

Need to check if users can be queryable from kubectl. Some detailed steps to add user to kubecfg
https://stackoverflow.com/questions/42170380/how-to-add-users-to-kubernetes-kubectl

[2017-07-04 20:51] murali-reddy opened #24 "global/local options are not suggested in some scenarios."
global/local options are not suggested in some scenarios.

For e.g kubectl get pod

[2017-07-05 14:09] bobhenkel opened #26 "kubectl get <object> <space> throws exception"
When I run commands like kubectl get pods and press space from within kube-shell 'm getting the below error. On a vanilla bash shell I can execute kubectl get just fine.
[code]

[2017-07-05 14:58] murali-reddy commented on #6
These are currently supported auto-complete resource supported by kubectl

- certificatesigningrequest
- cronjob
- ingress
- persistentvolume
- replicaset
- service
- thirdpartyresourcedata
- cluster
- daemonset
- job
- persistentvolumeclaim
- replicationcontroller
- serviceaccount
- clusterrole
- deployment
- limitrange
- pod
- resourcequota
- statefulset
- clusterrolebinding
- endpoints
- namesp

[2017-07-05 15:35] murali-reddy commented on #26
Kubectl uses go client to talk to api server. Kube-shell used client-python to talk to api server for resource auto completion. there seems to some problem python api client accessing api server.

Could you please try below snippet from your python interactive shell and see if this goes through?

[code]

[2017-07-05 18:20] bobhenkel commented on #26
Still throws an error.
[code]

[2017-07-05 19:11] mbohlool commented on #26
Can you share details of your cluster? (Is it on gke or gce or minikube).

[2017-07-05 19:20] bobhenkel commented on #26
It's a CoreOS Tectonic cluster on AWS. RBAC is enabled.

[2017-07-05 19:26] bobhenkel commented on #26
Also I'm just using static users at the moment, if that's of any value to the error.

https://coreos.com/tectonic/docs/latest/admin/user-management.html

[2017-07-05 21:59] mbangert-smarsh opened #28 "Pod name autocompletion does not work for the kubectl logs command"
Issue:
When attempting to use the kubectl logs command, the available pods are not displayed.

Steps to reproduce:
With the kube-shell open, type *kubectl logs* and hit the tab key

Expected Results:
The available pods are displayed in the shell

Observed Results:
Nothing is displayed

[2017-07-06 09:44] murali-reddy commented on #28
@mbangert-smarsh thanks for opening issue. We will work on it.

In general, there are scenarios like 'kubectl logs' which need to be handled case by case (unlike kubeclt get kubectl-resource-name for e.g). I am collecting such scenarios, and make kube-shell at the least compatible with kubectl auto completion. We will fix it next release.

[2017-07-06 14:54] clmssz commented on #26
Same problem here with GKE

[2017-07-06 15:33] vogxn commented on #14
I've taken the above mentioned approach and reduced the clutter in the `completer.py` module. There is now a `parser.py` (complementing a `lexer.py`) that reads the entire command set into a tree rooted at `kubectl`.  Given a command line, we walk the nodes of this tree as far as we can and return the children of the last node in the path as suggestions to fuzzyfinder.

TODO:
- finish the global o

[2017-07-06 15:41] kbroughton commented on #19
fixed the problem
maybe update the setup requirements.txt to set a min version

[2017-07-06 16:40] murali-reddy commented on #14
In case any one wants try out please check this [brach](https://github.com/vogxn/kube-shell/tree/14-completer-refactor)

[2017-07-07 04:51] vogxn commented on #26
The authentication problems are described in a bug within client-python [here](https://github.com/kubernetes-incubator/client-python/issues/233). The workaround provided is to use service accounts.

I'll dig through the client-python code a little today.

Before I make a change to the code, @clmssz are you using GKE with service accounts?

In the short term I propose to handle kube-apiserver endpo

[2017-07-07 07:42] #19 closed

[2017-07-07 12:40] clmssz commented on #26
@vogxn  kubectl uses you gcloud compute credentials I think

[2017-07-07 18:00] eric-winchell-ck opened #29 "suggestions unavailable when using -n instead of --namespace"
Minor annoyance.

[2017-07-07 18:14] murali-reddy opened #30 "kubectl abbreviated alias and shortform options needs to be handled in auto suggestions and completions"
kubectl takes several abbreviated [alias](https://kubernetes.io/docs/user-guide/kubectl-overview/) like svc, ns rc etc. Kube-shell need to honour the operation with aliases when suggesting and auto-completion.

similarly options have short form like -n, -s etc they need to be honoured as well

[2017-07-07 18:16] murali-reddy commented on #29
@eric-winchell-ck  thanks for opening the bug.  there are abbrivated alised and short form options that are not supported yet. have opened a bug #30 to cover them holistically.

[2017-07-08 05:30] murali-reddy commented on #21
Will re-open if it make sense later. closing it for now.

[2017-07-08 05:32] #21 closed

[2017-07-08 08:46] murali-reddy opened #31 "refactor completor"
Refactor current completer code so that there is one global

KubeShellCompleter which will be the entry point, and one that will used by prompt tool kit.

Subsequently specific completers can be called from KubeShellCompleter.

KubectlCompleter
HelmCompleter

etc that can handle completions specific to first token on the prompt.

[2017-07-08 08:48] murali-reddy opened #32 "Specific executors for each command"
On the line of #31 , for better design we will need have specific executor as well.

So completer handles the auto suggestions, server side completion etc.

Executor will be responsible for exeution once user hits enter on the prompt.

KubectlExecutor
HelmExecutor etc

[2017-07-09 05:21] murali-reddy opened #33 "auto-completion for server side resource does narrow resource based on typed word"
Server side resource completion brings down list of resources as drop down menu. But as you type specifc resource name it does not narrow down the list to resource matching.

[2017-07-10 07:11] vogxn commented on #26
I've redirected the errors to an error log. Kubeshell will not dump stacktraces like this now. The pull request is [here](https://github.com/cloudnativelabs/kube-shell/pull/34)

[2017-07-10 10:07] #26 closed

[2017-07-10 10:07] vogxn commented on #26
This is now merged and will be part of the next release along with other bugfixes.

[2017-07-10 17:10] k4k opened #35 "describe configmap Exception"
Typing the following in the `kube-shell` followed by a space produces an error (provided at the end of the report)

`kubectl describe configmap `

[code]

[2017-07-10 17:14] k4k commented on #35
Also get the same error with the following:

`kubectl --namespace `

Any time I invoke the `--namespace` flag or try to perform and action on the configmap type I receive this error.

[2017-07-11 13:00] murali-reddy commented on #35
[client-python](https://github.com/kubernetes-incubator/client-python) library that kube-shell uses seems to be running in to some problem. @k4k Could you please share details of your enviromnent. We had an issue #26 reported with python kubernetes library when running on GKE/AWS.

Also can you please confirm if kubectl works fine?

[2017-07-11 15:18] k4k commented on #35
@murali-reddy I can confirm that kubectl works fine. I've been using it now for a few months in our environment and have seen no issues. While I do have a GKE cluster configured in `$HOME/.kube/config` the error above appears when I have the context for either of our on premises clusters (cluster1.stage or cluster1.prod) active. More details are provided below. If you need something not included,

[2017-07-11 15:44] vogxn commented on #35
@k4k I've worked around the client-python errors and fixed it in #26. I would love to know if it fixes your issue. You can still check if it works by installing from my branch as follows

[code]

If this does fix the issue, I'll put it out in a release soon.

[2017-07-11 16:03] k4k commented on #35
@vogxn Different error now:

[code]

The full command I was attempting was:

`kubectl describe configmap -ncluster`

Ultimately, it looks like the commands succeeds but each new keystroke after the space following the `configmap` noun produces a warning. You can see the beginning of each line contains the next character typed:

[code]

[2017-07-11 16:08] vogxn commented on #35
This warning will need suppressing. Do you happen to be connecting to a
cluster without HTTPS?

On 11 Jul 2017 9:35 p.m., "Ted W." <notifications@github.com> wrote:

@vogxn <https://github.com/vogxn> Different error now:

kube-shell> kubectl describe
configmap/Users/user/.pyenv/versions/3.5.1/envs/kube-shell-testing/lib/python3.5/site-pacs
  InsecureRequestWarning

The full command I was attemptin

[2017-07-11 16:16] vogxn commented on #35
Ok, I've updated my branch further with a possible fix.

[code]

[2017-07-11 16:35] k4k commented on #35
@vogxn I'm connecting over HTTPS but I have `insecure-skip-tls-verify: true` set in `$HOME/.kube/config` due to our use of a self signed cert for the cluster nodes at this time. This will change in the future as we have plans to put the 5 controller nodes behind a load balancer and use our "real" certificate. Until then I'm connecting directly to node1 in the cluster which has a self signed cert:

[2017-07-11 16:57] vogxn commented on #35
Thanks @k4k - I'm merging my fix to master and will put out a release. Great to have quick feedback and testing :)

[2017-07-11 17:38] vogxn commented on #35
A new release is pushed to pypi with version `0.0.21`. An upgrade should fix this issue

[2017-07-11 17:38] #35 closed

[2017-07-11 17:38] vogxn commented on #26
A new release is pushed to pypi with version `0.0.21`. An upgrade should fix this issue

[2017-07-13 06:30] clmssz commented on #26
Hi @vogxn , no more stacktrace thanks (but no completion, guess it'a what you wanted in the short term right ?)

[2017-07-15 05:01] murali-reddy opened #36 "support diff command"
In the spirit of git diff:

do a diff between repo with version controlled kube manifest against the live cluster

[2017-07-15 05:05] murali-reddy opened #37 "support scan command"
Scan of the live cluster to detect the difference in desired state as expressed in the manifest vs state of the resources.

Couple of e.g

For a replica set replicas running vs replicas desired
For a dameonset are the pods running on each node

[2017-07-20 09:34] #14 closed

[2017-07-25 22:14] mbohlool commented on #26
Kubernetes python client 3.0.0b1 should have a fix for this. Can you guys give it a try and let me know if it fixed your problem?

[2017-07-27 10:48] ilwyiworld opened #38 "kube-shell: command not found"
I use ‘pip‘ install kube-shell successful
but 'kube-shell' command not found
![qq 20170727184756](https://user-images.githubusercontent.com/7789175/28666977-224e1996-72fc-11e7-9016-3ae73c97538a.png)

[2017-09-04 13:03] marcosamorim opened #39 "error switching namespace with F5 shortcut"
Hi,

When I hit F5 to switch between namespace an error appears on logs.

[code]

I'm running kube-shell 0.0.21 on iTerm2
OS: Mac Os 10.12.6

Any solution for this issue?

Thanks.

[2017-09-04 13:37] murali-reddy commented on #39
@marcosamorim sorry seems like regression in 0.0.21 release. i will try to fix it.

[2017-09-04 14:20] marcosamorim commented on #39
@murali-reddy Thanks for the quick answer. Doing some investigation here, seems that method has been moved to KubectlClient class now.

[2017-09-20 22:23] jcelliott commented on #17
Can someone point to where this would be implemented? So far `kube-shell` has been great--this is my only complaint--so I might take a stab at implementing/fixing it.

[2017-09-22 16:43] murali-reddy commented on #17
@jcelliott thers is some code cleanup need to done unfortunatley. Need to find some time to tidy up code next week. Will ping you with details, after that. Sorry about the delay.

[2017-10-18 06:01] ilwyiworld opened #41 "ImportError: cannot import name NewConnectionError"
[root@lv101 gluster_k8s_vloume]# kube-shell
Traceback (most recent call last):
  File "/usr/bin/kube-shell", line 7, in <module>
    from kubeshell.main import cli
  File "/usr/lib/python2.7/site-packages/kubeshell/main.py", line 6, in <module>
    from kubeshell.kubeshell import Kubeshell
  File "/usr/lib/python2.7/site-packages/kubeshell/kubeshell.py", line 10, in <module>
    from kubeshell.com

[2017-10-19 13:46] k0nstantinv opened #42 "F5 namespace switch doesn't work (still or again?)"
Hello, First of all thanks for you work!

I have been using kube-shell few days and everything it's OK, but namespace switcher doesn't work. There is no errors or something else, just no reaction when i press F5

My system: Ubuntu 16.04
My python: 2.7.12
My kube-shell: 0.0.21 (latest)

I saw similar issue https://github.com/cloudnativelabs/kube-shell/issues/39
Is there a way to fix it or need to w

[2017-10-19 14:45] pilsy commented on #26
Any progress on this? the auto completion is what made we want to use it

[2017-10-24 19:35] ahmetb opened #43 "LICENSE"
Which software license is this software distributed under? I think your source code or LICENSE/COPYING file should include the license. Currently as far as I can tell there's a little shield icon in the README.md and that's it.

[2017-10-25 06:00] murali-reddy commented on #43
Added license.

[2017-10-25 06:00] #43 closed

[2017-10-30 20:35] ahmetb opened #45 "Make it possible to install via homebrew"
I install all my tools via Homebrew (declaratively via the "Bundle" feature) on macOS.

I think kube-shell should be possible to installable via Homebrew as well. You can start curating a brew formula in this repo and I can pilot it by tapping into this repo, then installing the formula. This project meets the criteria (not very new, has enough stars etc) to be accepted into the Homebrew-core repo

[2017-11-08 03:59] rushins opened #46 "install in windows 10"
hi

how do i install it on windows laptop.

[2017-11-14 19:17] vogxn commented on #45
This is really powerful. I would really love this for kube-shell. I am not fully sure where to get started so I'll do a bit of searching and try and make some progress.

[2017-11-14 21:08] ahmetb commented on #45
I'd find another software in Homebrew formula repository that is normally installable via pip and just copy from there.

[2017-12-02 22:40] fgiloux commented on #41
"sudo pip install --upgrade urllib3" fixed the issue for me

[2017-12-09 04:48] zachaller commented on #39
This has not been pushed out to pip

[2017-12-09 07:48] murali-reddy commented on #42
Apologies for not giving attention this issue. I have released 0.0.22 version. Please give it a try and see if issue is resolved.

[2017-12-09 07:50] murali-reddy commented on #39
Please try the latest release (0.0.22](https://pypi.python.org/pypi/kube-shell/0.0.22).

[2017-12-09 14:52] k0nstantinv commented on #42
@murali-reddy kube-shell completely doesn't work after update:
[code]

[2017-12-09 19:43] murali-reddy commented on #42
@k0nstantinv can you please try 0.0.23?

[2017-12-15 09:42] roffe opened #47 "Trying to make a alias in OS X causes exception"
When i try to create a alias in kube-shell i get a exception the instant i press '

so i type `alias kc='` and then comes the stacktrace

if i finnish typing my line and press enter the alias gets created properly.

Running in OS X high Sierra.

[code]

[2017-12-15 09:43] roffe commented on #47
However it doesn't seem like it's actually doing anything

[code]

[2017-12-15 10:05] murali-reddy commented on #47
Thanks for reporting. Will see how to fix this. Typing kubectl is painful, either get rid of it or support alias.

[2017-12-15 11:01] roffe commented on #47
Here is some alias i use multiple times per day, might be usefull for some

- kc = kubectl
- kcc = kubectl create
- kcd = kubectl delete
- kccf = kubectl create -f
- kcdf = kubectl delete -f

My suggestion would be either implement support aliases of if not to much work, add a option in kube-shell where you can set your own name replacement for "kubectl" for example "kc" instead

Cheers!

[2017-12-18 04:48] tw0517tw commented on #46
1. install python https://www.python.org/downloads/
2. `pip install kube-shell` in powershell or cmd or whatever terminal
3. make sure your python installation path is in PATH (like `C:\python35\Scripts`)
4. `kube-shell`

[2018-01-12 17:04] lynchc commented on #42
same issue with 0.0.23

[2018-01-14 19:20] Stono commented on #42
Ditto, this doesn't work for me (nor does server side completion).

[2018-01-14 19:21] Stono opened #48 "Server Side Completion doesn't work"
As per the title really, nothing pops up to be tabbed.
Version 0.0.23

[2018-01-15 09:09] scraly opened #49 "Error after installation"
Hi,
I've installed kube-shll to thx to pip and not i obtain an error message when I try to execute kube-shell command:

[code]

[2018-01-17 14:36] joa opened #50 "Support for KUBECONFIG"
`kubectl` uses the KUBECONFIG environment variable. It would be great if kube-shell would honor it as well.

About KUBECONFIG: https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/#set-the-kubeconfig-environment-variable

Current behavior:

[code]

Expected behavior:

kube-shell follows path(s) as defined in $KUBECONFIG.

[2018-01-17 18:39] sbueringer commented on #49
I got almost the same exception today (directly after pip install):
[code]

Python 2.7.14
pip 9.0.1

[2018-01-18 04:08] murali-reddy commented on #49
Will take a look.

[2018-01-21 13:27] sbueringer commented on #49
I tried it again with pyton 3.6, it works now.

[2018-01-25 06:21] daikeren commented on #48
I've encountered this problem too. I'll try to find the cause and see if I could send a PR.

@murali-reddy Am I correct that I should look at https://github.com/cloudnativelabs/kube-shell/blob/master/kubeshell/parser.py to try to figure out how to do server side completion?

Thanks

[2018-01-25 09:26] murali-reddy commented on #48
@daikeren not sure what execatly is the problem. If you can share the error or stack trace in `~/.kube/shell/error.log` that would be helpful.

you may also look at https://github.com/cloudnativelabs/kube-shell/blob/master/kubeshell/client.py depending on the error in the log.

[2018-01-26 03:31] daikeren commented on #48
@murali-reddy I've inspect the stack trace in `~/.kube/shell/error.log` and I found that sometimes it shows

`2018-01-26 11:17:55,220 [WARNING] kubeshell.client __init__:22 - unable to load kube-config`

And even the Namespace [F5] hotkey won't work.

I also try to upgrade to `kuberenetes==4.0` and the message disappear and Namespace function
 works correctly. But server side completion still don'

[2018-01-28 02:50] 97turbotalon commented on #49
I was able to resolve the issue by running the install this way
python -m pip install kube-shell

[2018-02-06 21:42] xeor commented on #50
This is much needed.. In the meantime.. A symlink work

[2018-02-07 15:34] omar-nahhas opened #51 "Autocomplete does not work in lubuntu"
Hi,

I have tried to make server autocompletion work on Ubuntu without success,

I am using zsh but it also does not work with bash. Kubectl autocompletion works outside kube-shell.

I have tried with minikube and also does not work.

I do not get any error or warning message when I start kube-shell. And I still can switch between namespaces with F5.

Regards.

[2018-02-07 19:01] omar-nahhas commented on #51
If I install 0.0.21 then autocomplete works but F5 key does not work.

[2018-02-09 08:10] ohmystack commented on #48
@murali-reddy
I found that @vogxn removed all the server side `get_resource` code in the commit cloudnativelabs/kube-shell@41b1f442cf2270ad5fabf12cde3cb4889ad095a2 . Can we get the server side completion back?
@daikeren I found that there no server side code in the current kube-shell version.

[2018-02-09 08:56] murali-reddy commented on #48
I will take a look over the week end and get back to you.

Please try version `0.0.21` meanwhile, it should have all the functionality.

[2018-02-12 19:28] prateekgogia opened #52 "kube-shell command not found on mac/zsh"
I am using zsh and Sierra, installed kube-shell using pip - `pip install kube-shell`

It installed fine and gave me this log at the end -

`Successfully installed Pygments-2.2.0 click-6.7 fuzzyfinder-2.1.0 httplib2-0.10.3 kube-shell-0.0.23 kubernetes-2.0.0 oauth2client-4.1.2 prompt-toolkit-1.0.15 wcwidth-0.1.7`

After this kube-shell command is not found -
[code]
Running this on macOS Sierra and z

[2018-02-13 21:01] mhobotpplnet opened #53 "Exit command C / ctrl C exits shell"
Its a minor thing , but say I wrote some command and in the middle of it I want to just cancel it with ctrl/c command/c -- that just exists the shell, so question is: Is there a way to go into the new line or exit the current line and not exit kube shell? If so - please let me know -- I tried finding it.

[2018-02-14 17:51] gtseres commented on #53
I second that. Tried running `kubectl logs po/nginx-7cbc4b4d9c-sx83d -f`, which is a blocking command. When issuing a SIGINT, kubeshell exits, while the expected would be for the blocking command to exit.

[2018-02-14 17:53] gtseres commented on #51
I think this is a duplicate of #48

[2018-02-22 10:27] damomurf commented on #50
kubectl can actually function perfectly well if the value of KUBECONFIG is also a list of kubectl config files, not necessarily just one. It would be ideal if this tool could support that use case too.

[2018-02-28 20:08] mhobotpplnet opened #54 "Getting Error object has no attribute 'RbacAuthorizationV1beta1Api'"
Can't really say why this started happening all of the sudden. I do not remember updating/upgrading any python libs etc..
`  File "/usr/local/bin/kube-shell", line 11, in <module>
    load_entry_point('kube-shell==0.0.23', 'console_scripts', 'kube-shell')()
  File "/Library/Python/2.7/site-packages/pkg_resources/__init__.py", line 572, in load_entry_point
    return get_distribution(dist).load_ent

[2018-02-28 20:11] mhobotpplnet commented on #54
Got it fixed.
pip uninstall kube-shell
then I installed it with pip3

That seem to work.

[2018-03-08 14:33] batizhao commented on #52
<img width="1137" alt="2018-03-08 10 26 52" src="https://user-images.githubusercontent.com/431816/37156327-c1888e90-2320-11e8-8e1d-a1ac466e4f7b.png">

[2018-03-09 02:25] batizhao commented on #52
[code]

[code]

[2018-03-20 09:32] saromba opened #55 "Single quotes throw ValueError"
Typing a single quote causes the following error:
kube-shell> kubectl get pods --selector=Exception in thread Thread-43:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/usr/lib/python2.7/threading.py", line 754, in run
    self.__target(*self.__args, **self.__kwargs)
  File "/usr/local/lib/python2.7/dist-packages/p

[2018-04-14 20:47] ptqa commented on #48
@murali-reddy any update on this?

[2018-05-14 03:59] DasyDong commented on #52
`sudo find / -name kube-shell`
kube-shell path is not in zsh,  you just find the path and export path to .zshrc file
vi .zshrc, add export code , save the file
`export PATH="$PATH:xxxxx"`

make sure it is effective immediately , just last run `source .zshrc`

[2018-05-15 07:51] Ewocker commented on #50
+1

[2018-05-15 07:53] Ewocker opened #56 "Color customization"
how can we customize the color?

[2018-06-06 04:11] murali-reddy commented on #50
@marcosamorim can this issue be closed?

[2018-06-06 09:49] marcosamorim commented on #50
I'm not the one who actually opened, but I don't see why not. :)  Thanks for merging the PR btw

[2018-06-24 11:31] b1x commented on #50
@murali-reddy, I am sorry but I can't switch context when I use variable KUBECONFIG, like:
export KUBECONFIG=~/.kube/first:~/.kube/second
It always on first(

[2018-07-07 19:51] jungopro opened #58 "Offline Install"
Hello

I want to install kube-shell in a _dark site_ (no internet connection)
Is that possible?

Thanks

[2018-08-14 02:50] lingxiankong commented on #53
I am affected by the same thing, which means, we can not use the `--watch` in the kube-shell.

[2018-08-19 10:08] #58 closed

[2018-08-31 06:44] jianweixs opened #59 "kubectl: command not found"
kube-shell> kubectl get nodes
/bin/sh: kubectl: command not found

[2018-09-13 07:48] dkarlovi opened #60 "[UX] YAML syntax highlight?"
Since kubectl outputs YAML, having it be highlighted using ANSI codes in the terminal on output would be highly beneficial for UX.

[2018-09-18 16:42] rsrini7 commented on #56
Yes i am also looking for the same.. how to change?  Not able to read documentation. But excellent tool.

![2018-09-18 22_11_15-kube-shell](https://user-images.githubusercontent.com/5178105/45702588-db5fb480-bb8f-11e8-8654-a8fff14e8325.png)

[2018-09-30 02:40] xsgordon commented on #59
@jianweixs what does `echo $PATH` show?

[2018-10-15 15:46] daikeren commented on #48
@murali-reddy Since the server side completion is an important feature for kube-shell, how about revert `completer.py` back to 0.21.0 first?

I think maybe we should do the refactoring of `completer.py` after we have some test cases for server-side completion to ensure the correctness.

[2018-10-26 09:08] chenyg0911 commented on #38
relogin, the shell is in the path.

[2018-11-14 03:02] NiuZhuang opened #64 "Error when input backslash : No escaped character"
Hi, I get below error when type backslash \\:
No escaped character

![image](https://user-images.githubusercontent.com/5831232/48457155-986f3580-e7fc-11e8-9251-0f01e544247e.png)

[2018-11-15 10:24] wasimj commented on #42
Likewise. Changing Namespaces with F5 doesn't work.

[2018-12-30 15:52] jaygorrell commented on #48
Any updates on this? Just found this project and the readme advertises server-side completion as a feature.

[2019-01-18 00:42] ianfp commented on #17
Is there any reason to even make it optional? Shouldn't kube-shell _always_ assume `kubectl`? The first thing I tried after installing it was:

    kube-shell> help

Which didn't work!

[2019-01-20 02:48] arrowfeng opened #65 "how can I switch multiple clusters？"
I have two clusters，how can I  press F4 to switch other cluster？

[2019-02-11 21:51] mabushey commented on #65
I'm running kube-shell in docker: `solsson/kube-shell`. `F9` Toggles In-line help between `ON` and `OFF`, `F10` exits, however `F4` and `F5` do not appear mapped correctly as they do nothing. I typically use `kubectx` to change the cluster, and `kubens` to change the active namespace. In newer kubectl I think for example `kubectx` could be named `kubectl-ctx` to become a plugin accessible via `kub

[2019-02-11 21:54] mabushey commented on #42
`F4` and `F5` do not work, however `F9` and `F10` do.

[2019-02-13 04:38] dotw commented on #48
the same issue here with 0.0.23, and back to 0.0.21 works

[2019-02-13 05:45] murali-reddy commented on #48
I am not having any time to look into kube-shell issues at the moment. But if there is anything i can help for someone to submit a PR I would do.

[2019-02-22 12:45] tback opened #66 "Standard install broken on debian stretch"
Default installation on debian stretch seems broken to me:
[code]

[2019-03-28 05:20] mjschmidt commented on #58
@jungopro mjschmidt/kubeshell:0.0.2-alpine

[2019-03-28 05:23] mjschmidt opened #67 "Best way to collaborate?"
I have an alpine container mjschmidt/kubeshell:0.0.2-alpine that comes with a docker run script [here](https://github.com/mjschmidt/alpine-kube-shell). It may make more sense in your repo?

Let me know the best way to collaborate on this (:

[2019-03-29 13:29] weber-d opened #68 "Server-side autocomplete doesn't work on kubernetes object names with Ubuntu 18.10"
For me the autocomplete works on kubectl commands like kubectl, get, pods, deployment and so on. But it doesn't work for server side object names. As the following screencast shows, the autocomplete stops after `pod` and I don't get the pod names, altough `kubectl get pods` shows that there are pods which could be displayed:

![https://u-img.net/img/8788Lc.gif](https://u-img.net/img/8788Lc.gif)
On

[2019-04-05 03:02] sigmonsays commented on #68
I have similar issues with "kubectl get pod " -- and "kubectl describe pod", pod names are not completed.

<pre>
sig@desktop3:~$ python -V
Python 2.7.15rc1
sig@desktop3:~$ lsb_release  -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.1 LTS
Release:        18.04
Codename:       bionic
</pre>

[2019-04-14 09:20] hjacobs commented on #68
This seems to be a duplicate of #48

[2019-04-30 12:24] PreethiMalligonda commented on #59
'

[2019-05-23 08:45] cazzoo opened #70 "Unable to use kube-shell in wsl (alpine)"
Hello there!
I set up an Alpine WSL on my Windows 10 machine and installed kube-shell to get access to my cluster.
When starting the shell I'm able to switch context, user, cluster, toggle help but whenever I try to type any command the shell itself crashes and leads me to my caller shell (ash in my case).
I'm not able to use kube-shell at all.
Any idea why ? Any workaround ?

Kind regards

[2019-05-25 09:08] striveman1379 commented on #18
[root@k8s /]# which kubectl
/usr/bin/which: no kubectl in (/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/root/bin)
[root@k8s /]# find / -name kubectl
[root@k8s /]# kubectl get pod
-bash: kubectl: command not found
[root@k8s /]#

------------
why this happens?

[2019-07-01 06:27] #65 closed, assigned to nobody

[2019-07-01 06:28] arrowfeng commented on #65
thank you.

[2019-07-23 22:02] hasrobin commented on #42
Upgrading to 0.0.23 resolved this issue for me.

macOS 10.14.5
python 2.7.15

[2019-08-07 17:43] devopsvenkat1488 commented on #18
Hi, Any answers for this, becoz I am facing the same issue, though I have installed the kops and kubectl in linux machine. Please share your thoughts

bash: kubectl: command not found

[2019-08-29 08:27] oscarlofwenhamn opened #71 "Python 3.7 support (fix deprecated yaml call)"
When starting `kube-shell` i get the following warnings:
[code]

Since they reference `YAMLLoadWarning: calling yaml.load_all() without Loader` being <u>deprecated</u> I am guessing this is a question of updating to new 3.7 standards.

However, I am noticing the last commit was sept 19 2018, so I understand if this is a dead project.

[2019-09-03 15:55] jimtut opened #72 "Kube-shell for Windows is not passing input text to kubectl"
When I type a simple "get pods" command inside kube-shell, it says:
`'get' is not recognized as an internal or external command, operable program or batch file.`
which is the same error you'd get if you just typed "get pods" in a regular DOS prompt.

The rest of the kube-shell seems to be working (see pic), but the interactive commands are not being sent thru kubectl, they seem to be running direc

[2019-09-03 16:02] jimtut commented on #72
Nevermind, I see that you still need to prefix the commands with "kubectl"!  I thought this tool made type "kubectl" obsolete...

[2019-09-03 16:02] #72 closed, assigned to nobody

[2019-09-17 19:39] cballew opened #73 "on startup on RHEL 7.6 notebook get load errors"
(kube-shell)
(claudeballew)-(jobs:0)-(~/kube-shell/kube-shell)
(! 1035)--> kube-shell
/home/claudeballew/kube-shell/kube-shell/lib64/python3.6/site-packages/kubernetes/config/kube_config.py:280: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  config_dict=yaml.load(f),
/home/claudebal

[2019-10-03 12:14] Langvann commented on #71
Add the following to kubeshell.py and kube_config.py to suppress warnings:
yaml.warnings({'YAMLLoadWarning': False})

[2019-10-04 11:40] oscarlofwenhamn commented on #71
Thanks for the tip!

[2019-10-07 07:52] oscarlofwenhamn commented on #71
However, is this something that can be done after installing the script or does it require cloning and rebuildning? Would it be worth adding to the source repo?

[2019-10-23 10:10] dotnetdude commented on #46
In Powershell As Admin

[code]

[2019-11-01 16:07] zhangliqiang opened #74 "[INFORMATION SHARE] A web based kubectl tool."
Hi there,

We developed a web based kubectl tool, which enables you to manage kubernetes credentials and run kubectl command in web browser.

https://github.com/webkubectl/webkubectl

Hopefully it's useful for you guys.

[2019-12-04 11:49] timgates42 opened #76 "Fix simple typo: recieve -> receive"
There is a small typo in kubeshell/parser.py.
Should read receive rather than recieve.

[2019-12-24 03:02] jjangga0214 opened #78 "Execution error"
When I type `kube-shell`, it fails.

System info: python 3.7.3, pip 19.0.3, ubuntu 19.04, 64 bits

[code]

[2019-12-25 18:46] sumit-anantwar commented on #78
I am also getting the same error

[2020-05-08 17:20] schollii opened #79 "rename-context missing from completion"
1. From regular bash shell, type `kubectl config rTAB` and notice how rename-context is present among suggestions
2. Installl kube-shell in python 3.6 (`pip install kube-shell`) on Ubuntu 18.04
3. run `kube-shell`
4. type `kubectl config rTAB`: notice that `rename-context` is absent from the suggestions

Tried with both kubectl 1.14 and 1.18.2.

[2020-06-06 20:04] sentatr opened #81 "command not found: kubeshell"
senthil   ~  kubeshell
zsh: command not found: kubeshell

I've successfully installed the package via python.

[2020-06-06 21:05] sentatr commented on #48
Even, we are having the same issue in the mac as well. Server side completion is not working.. Please help..

[2020-07-10 09:34] talatqaisrani commented on #59
/data # kubectl exec my-pod-with-vol -c container-two -it sh
sh: kubectl: not found

[2020-07-20 12:29] iamshreeram opened #82 "Autosuggestion isn't working on List of available pods"
Autosuggestion isn't working on List of available pods
![image](https://user-images.githubusercontent.com/7752805/87937557-91c9a480-ca5a-11ea-97f9-b48e0eab1863.png)

Should there be any configuration set for this?

[2020-07-24 13:12] iamshreeram opened #83 "Warning while loading Kube-shell"
On load of kube-shell, Seeing below WARING message. Is there any way to supress this?
[code]

[2020-07-24 13:17] iamshreeram commented on #81
@sentatr , `kube-shell` is the binary not `kubeshell`. Can you please try `kube-shell`.
If this doesn't work, Can you post what do you see when you run - `pip freeze | grep kube-shell`.

[2020-07-29 15:26] ningblue commented on #83
see https://github.com/yaml/pyyaml/wiki/PyYAML-yaml.load(input)-Deprecation

![image](https://user-images.githubusercontent.com/22655294/88819681-e4d9ef00-d1f2-11ea-8c69-53ed4e056576.png)

[2020-07-29 17:08] iamshreeram opened #84 "Customize shell prompt"
Is there a easy way to customize the _kube-shell prompt_ from `kube-shell>` to something else?

If this can be a start up parameter, it would be great.

[2020-07-29 17:11] iamshreeram commented on #83
@ningblue , Thanks for looking into this. We might need to accept a parameter (a switch) to suppress these warnings. Something like `--suppress-warnings` that will set the above `PYTHONWARNINGS`.

What do you think?

[2020-10-01 15:47] Vanosz commented on #56
Have the same issue. And can't find any solutions. These colors are too acidly and I can't read correctly any of drop-down hints.
![image](https://user-images.githubusercontent.com/41544334/94832209-4a767180-0416-11eb-85f8-b9c91ed2f9d7.png)

[2020-12-04 20:32] harshakondreddy commented on #28
I am having the same issue.. for few people its  working on mac.
  I am  using centos    and trying on the master node and it's not   working for me

[2020-12-04 21:43] harshakondreddy commented on #28
I am using a centos machine  to run kubectl   and   executing the below  instruction worked for me

[code]

 once it's completed, it  should be  able to get the  response with TAB TAB

[2021-01-19 08:35] kaka-milan-22 commented on #42
me,too, F4 F5 not working ,F9 do.

[2021-07-07 13:41] elonderin commented on #28
got the problem too running
- inside bash
- on WSL2/Ubuntu 20.04.2 LTS
- in connection with AWS EKS and IAM auth which needs the `aws-iam-authenticator`

i noticed that
- every once in a great while it works
- always? when i just do `kubectl logs TAB TAB` then i get listed the files in the current dir

[2021-09-08 20:42] RamazanKara commented on #83
Can we please have this warning just disabled by default in kube-shell?

yaml.warnings({'YAMLLoadWarning': False})

[2021-10-08 21:31] danieniemand opened #86 "Command not found"
Tried installing with pip  and received error "rsa requires Python '>=3.5, <4' but the running Python is 2.7.17"

I then installed with pip3 install kube-shell and run kube-shell and receive "kube-shell: command not found"

[2021-11-05 23:58] irl-segfault commented on #82
same. is this still as issue?

[2021-11-18 12:32] Jojoooo1 commented on #81
Having the same issue on ubuntu 20.04 and Python 2.7.18

[code]

[2021-11-18 21:42] iamshreeram commented on #81
@Jojoooo1 , Can you share the output of `which python python3 pip kube-shell`.

If `kube-shell` is not found from above command, identify the location of pip packages and add it to PATH in your environment variables. That should fix the issue.

[2021-12-22 15:14] medival commented on #86
Hello, @danieniemand. I think you need to update your python version, `sudo apt-get install python3.8`. Then try `pip3 install kube-shell`. After you install kube-shell, you need to refresh your bash-shell depend on your shell do u use.
Then try run `kube-shell`.

[2022-03-24 14:00] andradedpg commented on #18
I really don't know thats is necessary... But I solved that with symlink

`ln -s /usr/local/bin/kubectl /usr/bin/`

[2022-06-23 14:32] perskes commented on #42
Switching with F5 seems to need a "kick" sometimes.

I switched the namespace with kubens while in kube-shell. After that I was able to cycle through my namespaces with F5 again.
It's a bit frustrating, but it works and it stays like that for as long as the shell (not just kube-shell) is active.

[2022-10-26 11:30] agentmilindu commented on #86
Didn't work

![image](https://user-images.githubusercontent.com/1391468/198015372-6bc7a423-d84a-4337-a31d-8b53ae97183e.png)

---
[code]

[2022-11-15 20:19] alperen-selcuk commented on #48
on mac server side not working i tried both 23 and 21 version no result.